<?xml version="1.0"?>

<!--
    Default odometry launch file
-->
<launch>
    <arg name="xavier" default="true"/>
    <group unless="$(arg xavier)">
      <node pkg="tf2_ros" type="static_transform_publisher" name="imulink_broadcaster" args="0.17 0.074 0.2 0 0 0 1 base_link imu" />
      <node pkg="tf2_ros" type="static_transform_publisher" name="qualisys_to_base" args="1.4483547351 3.7716442689 -0.4114682755 0 0 0 1 world odom" />
      <node pkg="tf2_ros" type="static_transform_publisher" name="lidarlink_broadcaster" args="0.284 0 0.2 0 0 0 1 base_link laser" />
    </group>
    <group if="$(arg xavier)">
      <node pkg="tf2_ros" type="static_transform_publisher" name="imulink_broadcaster" args="0.12 0.055 0.1 0 0 0 1 base_link imu" />
      <node pkg="tf2_ros" type="static_transform_publisher" name="qualisys_to_base" args="1.4483547351 3.7716442689 -0.4114682755 0 0 0 1 world odom" />
      <node pkg="tf2_ros" type="static_transform_publisher" name="lidarlink_broadcaster" args="0.301 0 0.2 0 0 0 1 base_link laser" />
    </group>
    <node pkg="tf2_ros" type="static_transform_publisher" name="arducamlink_broadcaster" args="0.284 0 0.2 0 0.7071 0 0.7071 base_link arducam" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="logicamlink_broadcaster" args="0.284 0 0.2 -1.5707 0 -1.5707 base_link logicam" />
</launch>
